*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'mukta';
}

body{
    background-color: #a3dff7;
    height: 128vh;
}

div.top-bar{
    display: flex;
    align-items: center;
}

div.lesson-container{
    height: 120vh;
    width: 100vw;
    padding: 2vh 8vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

a.lessons{
    background-color: #fafafa;
    color: #000;
    height: 7vh;
    padding: 2vh 3vw;
    border-radius: 18px;
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.lessons:hover{
    color: #54a5f2;
    text-decoration: underline;
    transition: 0.3s;
}

a.lessons:active{
    color: #54a5f2;
    text-decoration: underline;
    background-color: #e8e8e8;
    transition: 0.3s;
}

img.logo{
    height: 3.5em;
    width: 12.25em;
    margin-left: 3vw;
    margin-top: 1.5vh;
}

button.drop-button {
    background-color: #73aabb;
    color: #ffffff;
    padding: 1.5vh 1.5vw;
    font-size: 2.2vh;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 1.25vh;
}

button.drop-button:hover, button.submit-button:hover{
    background-color: #3e7683;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1.5vh 1vw;
    min-width: 20vw;
    border-radius: 10px;
    height: 40vh;
    overflow: scroll;
}
  
.dropdown-content a {
    color: black;
    padding: 1vh 1vw;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-size: 2.2vh;
}
  
.dropdown-content a:hover{
    background-color: #ddd;
    transition: 0.3s;
}

.show{
    display: block;
}

a.current-lesson, a.current-lesson:hover, a.current-lesson:active{
    background-color: #bbe6f2;
}

video.video{
    width: 84vw;
}

div.video-container{
    padding: 5vh 0;
    text-align: center;
}

div.text-container{
    padding: 5vh 8vw 8vh 8vw;
}

p.lesson-one-content{
    font-size: 3vh;
}

a.lesson-navigation-buttons{
    background-color: #73aabb;
    color: #ffffff;
    padding: 1vh 1vw;
    font-size: 2.2vh;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-left: 8vw;
}

a.lesson-navigation-buttons:hover{
    background-color: #3e7683;
    transition: 0.3s;
}

/*
div.question-section{
    padding: 0 10vw 10vh 10vw;
}

label.question-labels{
    font-size: 4vh;
}

label.options{
    font-size: 3vh;
}

button.submit-button{
    background-color: #73aabb;
    color: #ffffff;
    padding: 1vh 1vw;
    font-size: 2.2vh;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-top: 4vh;
}

*/
