/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    background-image: linear-gradient(to right, #54a5f2, #4e95fd, #6382ff, #8667fd, #ac3eee);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Login box styles */
  #login-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  /* Up and down sections */
  #login-box {
    text-align: center;
    padding: 20px;
  }
  
  #login-box h1 {
    margin-bottom: 20px;
  }
  
  /* Input and button styles */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .forgotPassword {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
  }

  .forgotPassword:hover {
    text-decoration: underline;
  }

  
  /* Line between buttons */
  .line-between {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  /* Signup page link */
  .signupPage {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .signupPage:hover {
    text-decoration: underline;
  }
  