
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    background-image: linear-gradient(to right, #54a5f2, #4e95fd, #6382ff, #8667fd, #ac3eee);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Sign-up box styles */
  #signup-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  /* Left and right sections */
  .up,
  .down {
    text-align: center;
    padding: 20px;
  }
  
  .up h1 {
    margin-bottom: 20px;
  }
  
  .passwordImageInput {
    width: 100%;
    padding: 10px 40px 10px 40px; /* Adjust padding for both sides */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-image: url('assets/passwordicon.png'); /* Replace with your image URL */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Adjust position of the text */
    background-size: 24px 24px; /* Adjust the size of the logo */
  }

  #password {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  #email {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .emailImageInput {
    width: 100%;
    padding: 10px 40px 10px 40px; /* Adjust padding for both sides */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-image: url('assets/emailicon.png'); /* Replace with your image URL */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Adjust position of the text */
    background-size: 24px 24px; /* Adjust the size of the logo */
  }

  #username {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .usernameImageInput {
    width: 100%;
    padding: 10px 40px 10px 40px; /* Adjust padding for both sides */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-image: url('assets/usernameicon.png'); /* Replace with your image URL */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Adjust position of the text */
    background-size: 24px 24px; /* Adjust the size of the logo */
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
 

  
  /* Login page link */
  .loginPage {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .loginPage:hover {
    text-decoration: underline;
  }
  